#MonoDevelop
*.userprefs
*.dll
*.dll.mdb
*.exe
*.mdb

#Visual Studio
*.pdb
*/DesignTimeResolveAssemblyReferencesInput.cache
*.suo
*.csproj.FileListAbsolute.txt
*.csprojResolveAssemblyReference.cache
*/TemporaryGeneratedFile_*.cs
